body {
  height: 100vh;
  width: 100vw;
	display: flex;
  margin: 0; padding: 0;
}
#root {
	height: 100%;
	width: 100%;
  display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em;
	gap: 1em;
	background-color: black;
	color: white;
}
.body {
	flex: 1;
	background-color: #111417;
	color: white;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.process {
	padding: 0.5em 1em 1em 1em;
	margin: 1em;
	display: flex;
	flex-direction: column;
	border-radius: 0.5em;
	position: relative;
	gap: 0.5em;
}
.process.connected {
	border: solid 1px green;
	background-color: #0f01
}
.process.disconnected {
	border: solid 1px #555;
	background-color: #fff1;
	color: #fffa;
}
.process-header {
	font-size: 0.7em;
	color: #fff9;
	display: flex;
	align-items: center;
	gap: 1em;
}
.process-body {
	display: flex;
	align-items: center;
	gap: 1em;
}

.text-red {
	color: red;
}
.text-green {
	color: green;
}
.flex {
	flex: 1;
}



.modal-outer {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-bg {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: #6667;
}
.modal-inner {
	z-index: 1;
	background-color: #222;
	color: white;
	border-radius: 5px;
	min-width: 30em;
	max-width: 40em;
}

.modal-header {
	display: flex;
}
.modal-header > div {
	padding: 1em;
	font-size: 1em;
	font-weight: bold;
}
.modal-title {
	flex: 1;
}
.modal-close {
}
.modal-body {
	padding: 1em;
}
.modal-field {
	display: flex;
	margin: 0.2em;
	height: 2em;
	align-items: center;
	gap: 1em;
}
.modal-footer {
	display: flex;
}
.modal-footer > button {
	flex: 1;
	padding: 0.5em;
	font-size: 1em;
}
span.btn {
	padding: 0.2em;
}
.btn {
	cursor: pointer;
	opacity: 0.6;
}
.btn:hover {
	opacity: 1;
}
.icon {
	height: 0.8em;
	width: 0.8em;
	fill: white;
	stroke: white;
}
.array-item-teamid {
	display: flex;
	gap: 0.1em;
	padding: 0.2em 0.3em 0.2em 0.5em;
	align-items: center;
	border: solid 1px #fff6;
	border-radius: 5px;
}
.array-input-outer {
	display: flex;
	align-items: center;
	gap: 0.5em;
}
.array-input {
	display: flex;
	align-items: center;
}

input {
	background-color: #0000;
	color: white;
	border: none;
	border-bottom: solid 1px white;
	outline: none;
	font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.separator {
	color: #fff4;
	margin: 0.2em;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
		width: 5em;
}


.question {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	background-color: #ff01;
	border: solid 1px #ff04;
	padding: 1em;
	margin: 1em;
}

.title {
	color: #fff7;
	font-size: 0.8em;
	margin: 2em 0 0 2em;
}

.question, .process, .title {
	width: 80vw;
}

@media only screen and (min-width: 600px) {
  .question, .process, .title {
		width: 500px;
	}
}
.nonstats {
	display: none;
}
.nostats .stats {
	display: none;
}
.nostats .nonstats {
	display: inline-block;
}